<h1>Invoice Dashboard</h1>

<header id='invoices-index-page'>
  <a href="/invoices-dashboard">Dashboard</a>
  <h1>Invoices</h1>
</header>
<h2>Status Percentages</h2>
  <ul>
    <li><%= @status_percent["pending"] %></li>
    <li><%= @status_percent["shipped"] %></li>
    <li><%= @status_percent["returned"] %></li>
  </ul>
<h3>Unit Prices</h3>
  <ul>
    <li><%= @max_price_invoice %></li>
    <li><%= @min_price_invoice %></li>
  </ul>
<h4>Quantity</h4>
  <ul>
    <li><%= @max_quantity_invoice %></li>
    <li><%= @min_quantity_invoice %></li>
  </ul>
