<div id='container'>
  <h2>Status Percentages</h2>
    <ul>
      <li>Pending:<%= @status_percent["pending"] %>%</li>
      <li>Shipped:<%= @status_percent["shipped"] %>%</li>
      <li>Returned:<%= @status_percent["returned"] %>%</li>
    </ul>
  <h3>Unit Prices</h3>
    <ul>

      <li>Highet Invoice:<a href='/invoices/<%= @max_price_invoice %>'><%= @max_price_invoice %></a></li>
      <li>Lowest Invoice:<a href='/invoices/<%= @min_price_invoice %>'><%= @min_price_invoice %></a></li>
    </ul>
  <h4>Quantity</h4>
    <ul>
      <li>Highest Invoice:<a href='/invoices/<%= @max_quantity_invoice %>'><%= @max_quantity_invoice %></a></li>
      <li>Lowest Invoice:<a href='/invoices/<%= @min_quantity_invoice %>'><%= @min_quantity_invoice %></a></li>
    </ul>
</div>
