<h1> Invoice: <%= @invoice.id %> </h1>
    <ul>

    <li> merchant: <%= @invoice.merchant.name %></li>
    <li> status: <%= @invoice.status %></li>
    <li> status: <%= @invoice.updated_at %></li>
    <li> status: <%= @invoice.created_at %></li>
    <form id='invoice-edit' action='/invoices/<%= @invoice.id %>/edit'>
            <button type='submit'>Edit</button>
    </form>
    <form action="/invoices/<%= @invoice.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="delete"/>
    </form>
    </ul>

