<header>
  <h1>Merchant Dashboard</h1>
</header>
<section id="merchant-highlights">
  <h2 class="dashboard-heading"></h2>
  <div id="highest-item-count">
    <h3 class='metric-title'>Merchant With Most Items:</h3>
    <span><a href='/merchants/<%= @merchant_most_items %>'><%= @merchant_most_items %></a></span>
  </div>
  <!-- <div id="high-item-price">
    <h3 class='metric-title'>Merchant With Highest Price Item:</h3>
    <span><a href='/merchants/<%= # @merchant_highest_priced_item %>'><%= # @merchant_highest_priced_item %></a></span>
  </div> -->
</section>
<% @merchants.each do |merchant| %>
<main id="merchant-dashboard">
<li>
  <a href="/merchants/<%= merchant.id %>"><%= merchant.name %></a>
</li>
  <section id="merchant-total-items">
    <h4 class="dashboard-heading">Item Count</h4>
    <h5 class="merchant-item-metric"><%= merchant.items.count %></h5>
  </section>
  <section id="merchant-average-item-price">
    <h4 class="dashboard-heading">Average Item Price</h4>
    <h5 class="item-metric">$<%= Merchant.average_item_price(merchant) %></h5>
  </section>
  <section id="merchant-total-item-price">
    <h4 class="dashboard-heading">Total Cost of Items</h4>
    <h5 class="item-metric">$<%= Merchant.total_item_price(merchant) %></h5>
  </section>
  <% end %>
</main>
