<header id="edit-item-page">
  <h1>Edit <%= @item.title %></h1>
</header>
<form id="edit-item" action="/item/<%= @item.id %>" method="POST">
  <input type="hidden" name="_method" value='PUT'/>
  <label for='merchant-menu'>Merchant</label>
  <select id="merchant-menu" name="item[merchant]">
    <% @merchant_names.each do |merchant_name| %>
      <option value="<%= merchant_name %>"><%= merchant_name %></option>
    <% end %>
  </select>
  <label for="edit-title">Title</label>
  <input id="edit-title" name="item[title]" value="<%= @item.title %>">
  <label for="edit-description">Description</label>
  <textarea id="edit-description" name="item[description]"><%= @item.description %></textarea>
  <label for="edit-price">Price</label>
  <input id="edit-price" name="item[price]" value="<%= @item.price %>">
  <label for="edit-image-url">Image URL</label>
  <input id="edit-image-url" type="text" name="item[image_url]" value="<%= @item.image %>">
  <div id="edit-item-button-container">
    <button id='edit-cancel' formaction="/item/<%= @item.id %>" formmethod='GET'>Cancel</button>
    <button id="submit-edit" type="submit">Update Item</button>
  </div>
</form>
