<header>
  <h1>Edit <%= @item.title %></h1>
</header>
<form id="edit-item" action="/item/<%= @item.id %>" method="POST">
  <input type="hidden" name="_method" value='PUT'/>
  <select id="merchant-menu" name="item[merchant]">
    <% @merchant_names.each do |merchant_name| %>
      <option value="<%= merchant_name %>"><%= merchant_name %></option>
    <% end %>
  </select>
  <label for="edit-title">Title: </label>
  <input id="edit-title" name="item[title]" value="<%= @item.title %>">
  <label for="edit-description">
  <input id="edit-description" name="item[description]" value="<%= @item.description %>">
  <label for="edit-price">
  <input id="edit-price" name="item[price]" value="<%= @item.price %>">
  <label for="edit-image-url">
  <input id="edit-image-url" type="text" name="item[image_url]" value="<%= @item.image %>">
  <button><a id='edit-cancel' href="/item/<%= @item.id %>">Cancel</a></button>
  <button id="submit-edit" type="submit">Update Item</button>
</form>
