<header id='items-index-page'>
  <a href="/items-dashboard">Dashboard</a>
  <h1>Items</h1>
  <form action='/items/new' method='GET'>
    <button id="create-new-item" type='submit'>Create A New Item</button>
  </form>
</header>
<main id='items-container'>
<% @all_items.each do |item| %>
  <div class="item-information-container">
    <ul id="item-<%= item.id %>">
      <li><img class="item-image" src="<%= item.image %>" /></li>
      <li><a href='item/<%= item.id %>'><%= item.title %></a></li>
      <li>$<%= item.price %></li>
    </ul>
    <form id='delete-item-<%= item.id %>' action='/item/<%= item.id %>' method='POST'>
      <input type='hidden' name='_method' value='DELETE'/>
      <input type='submit' value='Delete'>
    </form>
  </div>
<% end %>
</main>
