<header id="item-metainfo">
  <h1><%= @item.title %></h1>
  <div id='show-page-header-buttons-container'>
    <form id="edit-button" action='/item/<%= @item.id %>/edit' method='GET'>
      <button id="edit-item" type=submit>Edit</button>
    </form>
    <form id='delete-item-<%= @item.id %>' action='/item/<%= @item.id %>' method='POST'>
      <input type='hidden' name='_method' value='DELETE'/>
      <button id='delete-item' type='submit'>Delete</button>
    </form>
  </div>
</header>
<section id="show-item-information-container">
  <div class="item-merchant-and-image">
    <a href="/merchants/<%= @item.merchant.id %>"><%= @item.merchant.name %></a>
    <img src="<%= @item.image %>" alt="item-image" />
  </div>
  <div class="item-information">
    <h3 class="title"><%= @item.title %></h3>
    <span class="price">$<%= @item.price %></span>
    <span class="description"><%= @item.description %></span>
  </div>
</section>
